:root{
	--mainColor:#fab3aa;
	--secondaryColor:#207080;

	--borderColor:#086788;

	--mainText:#633c3c;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgba(115, 236, 230, 0.8);
	--previewShadow:#2a2f25;


	--buttonColor:#669966;


}