<div class="main-container">
        <div class="greeting-wrapper">
            <h1>ArtistInProgress</h1>
        </div>
        <div class="intro-wrapper">
            <div class="nav-wrapper">
                <!-- Link around dots-wrapper added after tutorial video -->
                <a href="index.html">
                    <div class="dots-wrapper">
                        <div id="dot-1" class="browser-dot"></div>
                        <div id="dot-2" class="browser-dot"></div>
                        <div id="dot-3" class="browser-dot"></div>
                    </div>
                </a>
                <ul id="navigation">
                    <li><a href="Editorial.html" target="_self">Editorial</a></li>
                    <li><a href="https://threedotsinarow.medium.com" target="_self">Storysessions and Commentary</a></li>
                    <li><a href="Music.html" target="_self">Music</a></li>
                    <li><a href="https://threedotsinarow.medium.com" target="_blank">Dance</a></li>
                    <li><a href="https://threedotsinarow.medium.com" target="_blank">Medium</a></li>
                    <li><a href="index.html#contact">Contact</a></li>
                </ul>
            </div>
            
        </div>
</div>