<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
   <![endif]-->
   <!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" <![endif]-->
   <!--[if IE 8]><html class="no-js lt-ie9" <![endif]-->
   <!--[if gt IE 8]><!--> 
   <html class="no-js">
      <!--<![endif]-->
      <head>
         <link rel="stylesheet" href="/assets/css/styles.css">
         <title>Three Dots In A Row...</title>
         <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
         <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
         <link rel="preconnect" href="https://fonts.gstatic.com">
         <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Indie+Flower&display=swap" rel="stylesheet">
         <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap"
            rel="stylesheet">
         <link rel="stylesheet" type="text/css" href="default.css">
         <link id="theme-style" rel="stylesheet" type="text/css" href="">
      </head>
      <body>
         <div class="main-container">
         <div class="greeting-wrapper">
            <h1>ArtistInProgress</h1>
         </div>
         <div class="intro-wrapper">
            <div class="nav-wrapper">
               <!-- Link around dots-wrapper added after tutorial video -->
               <a href="index.html">
                  <div class="dots-wrapper">
                     <div id="dot-1" class="browser-dot"></div>
                     <div id="dot-2" class="browser-dot"></div>
                     <div id="dot-3" class="browser-dot"></div>
                  </div>
               </a>
               <ul id="navigation">
                  <li><a href="Editorial.html" target="_blank">Editorial</a></li>
                  <li><a href="https://threedotsinarow.medium.com" target="_blank">Storysessions and Commentary</a></li>
                  <li><a href="https://threedotsinarow.medium.com" target="_blank">Music</a></li>
                  <li><a href="https://threedotsinarow.medium.com" target="_blank">Dance</a></li>
                  <li><a href="https://threedotsinarow.medium.com" target="_blank">Medium</a></li>
                  <li><a href="index.html#contact">Contact</a></li>
               </ul>
            </div>
            <div class="content">
               <div class="container">
                  {{ content }}
               </div>
            </div>
            <!-- end .content -->
         </div>
      </body>
   </html>